.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background:url(ground.png);

	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: rgb(0, 255, 242);
	background-color: rgb(110, 138, 163);
	font-family: fantasy;
}

